/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.5em;
}

.container {
    width: 100%;
    max-width: 1160px;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h2 {
    margin-top: 0;
}

.mainInfo {
    font-size: 4.8rem;
}

.additionalInfo {
    font-size: 2.6rem;
}

@media (max-width: 766px) {
    .mainInfo {
        font-size: 2.8rem;
    }
    .additionalInfo {
        font-size: 1.6rem;
    }
}

.smaller {
    width: 20%;
    height: auto;
    overflow: hidden;
}

.top-breathe {
    margin-top: 15px;
}


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul {
    margin: 0 0;
    padding: 0 0;
}

li {
    list-style: none;
}

.nav-pills li,
.nav-pills li.active,
.nav-pills li a,
.nav-pills>li+li {
    margin: 0 0;
    border: 0 0;
    padding: 10px 0;
}

li.borderBottom {
    border-bottom: 1px solid white;
    margin: 5px 0;
}


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#homeBtn {
    position: absolute;
    top: 80px;
    left: 230px;
}

#searchBtn {
    margin: 20% 0;
    padding: 5% 10%;
}

.form-group {
    margin: 10% auto !important;
    float: none;
}

.form-horizontal .control-label {
    display: block;
    text-align: left;
    font-size: 1.5rem;
}