/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.5em;
}

.container {
    width: 100%;
    max-width: 1160px;
}

#view {
    margin: 5% 0;
}

header {
    margin-bottom: 40px;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h2 {
    margin-top: 0;
}

.mainInfo {
    font-size: 4.8rem;
    padding-left: 0;
}

.additionalInfo {
    font-size: 2.6rem;
}

.logo {
    margin-top: 40px;
    width: 20%;
    height: auto;
}

.icon {
    width: 20%;
    margin: 0 0;
}


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul {
    margin: 0 0;
    padding: 0 0;
}

li {
    list-style: none;
}

.nav-pills li,
.nav-pills li.active,
.nav-pills li a,
.nav-pills>li+li {
    margin: 0 0;
    border: 0 0;
    padding: 10px 0;
}

li.borderBottom {
    border-bottom: 1px solid white;
    margin: 5px 0;
}


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#homeBtn {
    position: absolute;
    top: 0;
    left: 10%;
}

#searchBtn {
    margin: 20% 0;
    padding: 5% 10%;
}

.form-group {
    margin: 5% auto !important;
    float: none;
}

.form-horizontal .control-label {
    display: block;
    text-align: left;
    font-size: 1.5rem;
}


/* Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media all and (max-width: 766px) {
    .mainInfo {
        font-size: 2.8rem;
    }
    .additionalInfo {
        font-size: 1.6rem;
    }
    #temperature {
        margin-bottom: -15px;
    }
    #localTime {
        width: 100%;
    }
    #condition {
        float: left !important;
    }
    #hourlySmallScreen {
        display: inline-block !important;
        width: 60%;
    }
}