<section class="row">
  <div class="col-md-6 col-xs-6 mainInfo text-left">{{ location.name }}</div>
  <div class="col-md-6 col-xs-6 mainInfo text-right"><img src="{{ current.condition.icon }}" /> {{ current.temp_c }}&deg;</div>
  <div class="col-md-6 col-xs-6 additionalInfo text-left">{{ location.localtime | parseDate : "dd MMM yyyy" }} - {{ location.localtime | parseDate : "HH:mm" }}</div>
  <div class="col-md-6 col-xs-6 additionalInfo text-right">{{ current.condition.text}}</div>
</section>
<div class="row ">
  <div class="col-md-6 col-md-offset-3">
    <div class="text-center">
      <!--<section class="btn-group btn-group-justified">
        <a href="#" class="btn btn-default col-md-3" ng-checked>Today</a>
        <a href="#" class="btn btn-default col-md-3">48 Hours Forecast</a>
      </section>-->
      <div class="btn-group btn-group-justified" data-toggle="buttons">
        <label class="btn btn-default active">
          <input type="radio" name="content" ng-model="content" value="today" id="today" checked />Today
        </label>
        <label class="btn btn-default">
          <input type="radio" name="content" ng-model="content" value="hour" id="hour" />48 Hours Forecast
        </label>
      </div>

    </div>
    <section ng-show="content == 'today'">
      <div class="col-md-6 col-xs-6 additionalInfo text-left">Feels like</div>
      <div class="col-md-6 col-xs-6 additionalInfo text-right">{{ current.feelslike_c }}</div>
      <div class="col-md-6 col-xs-6 additionalInfo text-left">Wind</div>
      <div class="col-md-6 col-xs-6 additionalInfo text-right">{{ current.wind_kph }} km/h</div>
      <div class="col-md-6 col-xs-6 additionalInfo text-left">Humidity</div>
      <div class="col-md-6 col-xs-6 additionalInfo text-right">{{ current.humidity }} %</div>
    </section>

    <ul class="list-group" ng-show="content == 'hour'">
      <li class="list-group-item" ng-repeat="day in forecast.forecastday">
        <ul class="list-group">
          <li class="list-group-item d-flex w-100 justify-content-between" ng-repeat="hour in day.hour">
            <div class="row">
              <div class="col-md-6 col-xs-6 additionalInfo text-left">{{ hour.time | parseDate : 'HH:mm' }}</div>
              <div class="col-md-6 col-xs-6 additionalInfo text-right"><img class="ing-responsive smaller" src="{{ hour.condition.icon }}" /> {{ hour.temp_c }}&deg;</div>
            </div>
            <div class="row">
              <div class="col-md-6 col-xs-6 text-left">{{ hour.time | parseDate : "dd MMM yyyy" }}</div>
              <div class="col-md-6 col-xs-6 text-right">{{ hour.condition.text}}</div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>