<section class="row">
    <form class="form-horizontal col-md-6 col-md-offset-3">
        <div class="form-group" ng-class="{ 'has-error' : formData.$invalid }">
            <!--<p class="text-default">Enter name of a city and press search:</p>-->
            <!--<label class="control-label" for="searchBox">Enter name of a city and press search:</label>-->
            <div class="{{ infoText.className }}" ng-show="infoText.message != ''">{{ infoText.message }}</div>
            <input type="text" class="form-control input-lg" id="searchBox" ng-model="formData.cityName" required />
        </div>
        <a href class="btn btn-default btn-lg btn-block" ng-class="{ 'disabled' : (formData.cityName == '')}" ng-disabled="formData.$invalid"
            ng-click="getData()">Search</a>
    </form>
</section>