<a href="/" class="btn btn-default" id="homeBtn">Home</a>

<header class="container" id="largeHeader" >
  <div class="row">
    <div class="col-xs-6 mainInfo pull-left">{{ location.name }}</div>
    <div class="col mainInfo pull-right" id="temperature">
      <img src="{{ current.condition.icon }}" />
      <span> {{ current.temp_c }}&deg;</span>
    </div>
  </div>
  <div class="row">
    <div class="col additionalInfo pull-left" id="localTime">{{ location.localtime | parseDate : "dd MMM yyyy" }} - {{ location.localtime | parseDate : "HH:mm" }}</div>
    <div class="col additionalInfo pull-right" id="condition">{{ current.condition.text}}</div>
  </div>
</header>

<!--<header class="container hidden-md hidden-lg hidden-xl" id="smallHeader" ng-show="content == 'hour'">
  <div class="row">
    <h1>Forecast</h1>
  </div>
  <div class="row">
    <div class="col-xs-8 mainInfo pull-left">{{ location.name }}</div>
    <div class="col additionalInfo pull-right" id="temperature">Next 48 hours</div>
  </div>
</header>-->

<article class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="text-center btn-group-justified hidden-sm hidden-xs">
      <a href="" id="todya" class="btn btn-default" target="_self" ng-model="content" ng-click="content = 'today'">Today</a>
      <a href="" id="hourly" class="btn btn-default" target="_self" ng-model="content" ng-click="content = 'hour'">48 Hours Forecast</a>
    </div>

    <table class="table" ng-show="content == 'today'">
      <tr class="row">
        <td class="col-xs-6 additionalInfo ">Feels like</td>
        <td class="col-xs-6 additionalInfo text-right">{{ current.feelslike_c }}</td>
      </tr>
      <tr class="row">
        <td class="col-xs-6 additionalInfo">Wind</td>
        <td class="col-xs-6 additionalInfo text-right">{{ current.wind_kph }} km/h</td>
      </tr>
      <tr class="row">
        <td class="col-xs-6 additionalInfo">Humidity</td>
        <td class="col-xs-6 additionalInfo text-right">{{ current.humidity }} %</td>
      </tr>
    </table>

    <ul ng-show="content == 'hour'">
      <li ng-repeat="day in forecast.forecastday">
        <ul class="">
          <li class="container borderBottom d-flex w-100 justify-content-between" ng-repeat="hour in day.hour">
            <div class="row">
              <div class="col pull-left additionalInfo">
                {{ hour.time | parseDate : 'HH:mm' }}</div>
              <div class="col pull-right text-right additionalInfo">
                <img class="ing-responsive icon" src="{{ hour.condition.icon }}" />
                <span> {{ hour.temp_c }}&deg;</span>
              </div>
            </div>
            <div class="row">
              <div class="col pull-left">{{ hour.time | parseDate : "dd MMM yyyy" }}</div>
              <div class="col pull-right">{{ hour.condition.text}}</div>
            </div>
          </li>
        </ul>
      </li>
    </ul>

    <div class="text-center btn-group-justified hidden-md hidden-lg hidden-xl">
      <a href="" id="hourlySmallScreen" class="btn btn-default" target="_self" ng-model="content" ng-hide="content == 'hour'"
        ng-click="content = 'hour'">48 Hours Forecast</a>
    </div>
  </div>
</article>