<section class="">
    <form class="form-horizontal">
        <div class="row text-center" ng-class="{ 'has-error' : formData.$invalid }">
            <!--<p class="text-default">Enter name of a city and press search:</p>-->
            <!--<label class="control-label" for="searchBox">Enter name of a city and press search:</label>-->
            <div class="form-group col-md-6 col-xs-10">
                <label for="searchBox" class="control-label {{ infoText.className }}" ng-show="infoText.message != ''">{{ infoText.message }}</label>
                <input type="search" class="form-control input-lg" id="searchBox" ng-model="formData.cityName" required />
                <a href class="btn btn-primary btn-lg" id="searchBtn" ng-class="{ 'disabled' : (formData.cityName == '')}" ng-disabled="formData.$invalid"
                    ng-click="getData()">Search</a>
            </div>
        </div>

    </form>
</section>